@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');


* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

#one {
  background-image: url('Ironman.jpg');
}

#two {
  background-image: url('Joker.jpg');
}

#three {
  background-image: url('groot.jpg');
}

#four {
  background-image: url('Dr.Strange.jpg');
}

#five {
  background-image: url('batman.jpg');
}

.container {
  display: flex;
  width: 90vw;
}

.Back-panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  margin: 10px;
  position: relative;
  color: #0e0e0e;
  cursor: pointer;
  flex: 0.5;
  transition: flex 0.7s ease-in;
}

.Back-panel h3 {
  font-size: 2rem;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  margin: 0;
  opacity: 0;
}

.Back-panel.active {
  flex: 5;
}

.Back-panel.active h3 {
  opacity: 1;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .Back-panel:nth-of-type(4),
  .Back-panel:nth-of-type(5) {
    display: none;
  }
}